body{
  background:linear-gradient(180deg,#DCE7EF 0%,#EEF3F6 100%);
  font-family:'Segoe UI', Arial, sans-serif;
  margin: 0;
}

#contenedorMapa {
    position: relative;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    line-height: 0;
}

#contenedorReg {
    width: 100%;
    max-width: 1200px;
    margin: 15px auto 15px; 
    line-height: 0;
}

#mapa {
    width: 100%;
    height: auto;
    display: block;
}
/* Para mapa interactivo*/
.punto {
    position: absolute;
    width: 20px;
    height: 20px;
    background: red;
    border-radius: 50%;
    border: 2px solid white;
    cursor: pointer;
    transform: translate(-50%, -50%);
    transition: 0.3s;
}

.punto:hover {
    transform: translate(-50%, -50%) scale(1.3);
}

#modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.6);
    z-index: 1000;
}

.contenidoModal {
    width: 90%;
    max-width: 600px;
    margin: 50px auto;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-sizing: border-box;
}

#cerrar {
    float: right;
    font-size: 24px;
    cursor: pointer;
}

#foto {
    width: 100%;
    height: auto;
    margin-top: 10px;
    border-radius: 8px;
}

#titulo {
    margin-top: 10px;
}

#descripcion {
    line-height: 1.5;
}

/*@media (max-width: 768px) {
    h1 {
        font-size: 1.3rem;
    }

    .punto {
        width: 16px;
        height: 16px;
    }

    .contenidoModal {
        width: 95%;
        margin: 20px auto;
        padding: 15px;
    }
}*/

/*@media (max-width: 600px) {
    .header {
        flex-direction: column;
        justify-content: center;
        text-align: center;
        gap: 10px;
    }
}*/


    
}
@media (max-width: 576px) {  
  h1.h3 {
    font-size: 1.15rem;
  }
